* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Organizes divs into grid-layout using flexbox */
.grid-container {
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid var(--light-grey);
    overflow: hidden;
    .row {
        display: flex;
        .square {
        }
    }
}