* {
    box-sizing: border-box;
}

/* Organizes divs into 16x16 layout using flexbox */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 104.5px;
    border: solid red;
    div {
        border: 1px solid black;
        height: 40px;
        width: 40px;
    }
    :nth-child(17n + 1) {
        width: 100%;
        border: 0;
        height: 0;
    }
}